html,body{
margin: 0;
padding: 0;
}

body{
width: 1600px;
margin: 0 auto;
}
header h1{
float: left;
width: 400px;
text-align: center;
font-family:"Comic Sans MS", cursive, sans-serif;	
color: white;

}
header img{

width: 100px;
height: 100px;
margin: auto: 10px;
}

nav{
float: right;
}

header{
background-color: #C0C0C0;
height:175px;
margin-top: none;
border-bottom: solid 7px;
border-bottom-color: #A0A0A0
}
nav ul li{
float: left;
list-style:none;
margin: 0 10px;
color:white;
font-family:"Comic Sans MS", cursive, sans-serif;	

}

.banner{
background-color:  #006600;
height: 600px;
}
.side {
width: 600px;
float: left;
margin:0 0 0 20px;
}

.side h1,h3{
text-align:center;
color:white;
font-family:"Comic Sans MS", cursive, sans-serif;	
}
.main{
width: 900px;
height:100%;
float:left;
}


footer{
height: 100px;
line-height:120px;
clear:both;
text-align:center;
background-color:#007700;
font-family:"Comic Sans MS", cursive, sans-serif;	


}
.sideimgs img{
margin: 0 0 0 20px;
height: 180px;
width:  180px;
}